<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Widok właściciel</title>
    <link th:href="@{css/stronaPowitalnaStyle.css}" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="bg-image img1"></div>
<div class="bg-image img2"></div>
<div class="bg-image img3"></div>
<div class="bg-image img4"></div>
<div class="bg-image img5"></div>
<div class="bg-image img6"></div>

<h2> Witamy, jako włascicel masz możliwość utworzenia kont kierownikom innych placówek oraz kont pracowniczych</h2>
<br />


<form action="rejestracja" method="post">
    <div class="bg-text">
    <h1>Tworzenie nowego konta</h1>

    <label for="firstname">First name :</label> <br/>
    <input type="text" name="firstName"/> <br/>

    <label for="lastname">Last name :</label> <br/>
    <input type="text" name="lastName"/> <br/>

    <label for="email">Email :</label> <br/>
    <input type="email" name="email"/> <br/>

    <label for="password">Password :</label> <br/>
    <input type="password" name="password"/> <br/>

    <label for="type">Kim jest osoba której zakładasz konto?</label> <br/>
    <select name="type">
        <option value="Kierownik">Kierownik</option>
        <option value="Pracownik">Pracownik</option>
    </select>

    <br/>
    <br/>
    <button type="submit">Potwierdz</button>
    </div>
</form>

<!--<h2 th:text="${firstname}">first name</h2>-->
<!--<h2 th:text="${lastname}">last name</h2>-->

</body>
</html>