<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>system zarządzania zakładem</title>
</head>

<body>
<h1>zakład mechaniczy</h1>
<form action="wyborLoginRegister" method="post">
<!--    &lt;!&ndash;    <label for="wybor">Zaloguj</label>&ndash;&gt;-->
<!--    <button type="submit">zaloguj się</button>-->

<!--&lt;!&ndash;    <label for="wybor">Zarejestruj</label>&ndash;&gt;-->
<!--    <button type="submit">Utwórz nowe konto</button>-->

    <input type="submit" value="Logowanie" />
    <input type="submit" value="rejestracja" />

</form>

</body>



</html>