<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Index</title>
</head>
<body>

<h1>Zaloguj sie jako</h1>
<form action="choose" method="post">
<!--    <select name="Chcę zalogowac się jako">-->
<!--        <option value="wlasciciel">Właściciel</option>-->
<!--        <option value="kieronik">Kierownik</option>-->
<!--        <option value="pracownik">Pracownik</option>-->
<!--    </select>-->

    <label for="who">Zaloguj sie jako :</label> <br/>
    <select name="logujeSieJako">
        <option value="wlasciciel">Wlasciciel</option>
        <option value="kierownik">Kierownik</option>
        <option value="Pracownik">Pracownik</option>
    </select>

    <br/>
    <button type="submit">Potwierdź</button>
</form>
<br/>

</body>
</html>